.products-sec img {
    width: 80%;
    filter: drop-shadow(0px 12px 5px);
}

.breadcrumb {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .6)), url(images/about1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.breadcrumb h3 {
    font-size: 45px;
}

.shop-btn {
    background-color: #41B7BB;

    color: #fff;
    overflow: hidden;
    display: inline-block;
    position: relative;
    transition: color .25s, border-color .25s, background-color .25s, opacity .25s, width .25s ease 0s;
    font-weight: 500;
    line-height: 1;
    padding: 15px 30px;
    font-size: 15px;
    border: 1px solid #fff;
}

.tea-product {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 19rem;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tea-product h5 {
    text-transform: capitalize;
}

.row .text-center {
    display: flex;
    justify-content: center;
}

.tea-product .discount-label {
    width: 200px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px;
    padding: 1px 0 3px 0;
    background: #41b7bb;
    color: #fff;
    text-align: center;
    align-items: center;
}

.tea-product:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 15px;
}

.tea-product img {
    transition: transform 0.3s ease;
}

.tea-product:hover img {
    transform: rotate(1);
}

.prize {
    display: block;
    color: #36392e;
    font-size: 1.2rem;
}

.shop-btn:hover {
    color: #fff;
    background-color: #7d8961;
}